* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
.divctc{
    border:  2px solid black;
    text-align: center;
    width: 500px;
    margin:150px auto;
    border-radius: 15px;
    background-color: khaki;
    padding-bottom: 32px;
}
h1:hover{
    color: white;
    text-decoration: underline;
}
p{
    font-style: italic;
    font-family: 'Times New Roman';
    font-size: 20px;
}
input {
    border-radius: 5px;
    border: 2px solid black;
    width: 80px;
    background: transparent;
    color: black;
    margin: 6px;
  }
  button{
    border-radius: 5px;
    border: 2px solid black;
    width: 80px;
    background-color: green;
    color: white;
    margin: 6px;
  }
.supp{
    background-color: red;
}